[Unit]
Description=Cgroups Exporter Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/cgroup_exporter --config.paths /slurm
Restart=on-failure

[Install]
WantedBy=multi-user.target
